[submodule "PluginInterface"]
	path = PluginInterface
	url = https://github.com/DJDoena/PluginInterface.git
[submodule "DVDProfilerHelper"]
	path = DVDProfilerHelper
	url = https://github.com/DJDoena/DVDProfilerHelper.git
